
<div class="container">
  <h1>Header 1</h1>
  <h2>Header 2</h2>
  <h3>Header 3</h3>
  <p>Paragraph</p>
</div>

<div class="container">
   <div class="row">
     <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="race-card-date">
            <p class="race-card-date-day">10</p>
            <p>August</p>
          </div>
          <img class="card-img" src="https://picsum.photos/id/141/300/300" alt="">
          <div class="p-2">
            <div class="race-card-info"><i class="mr-1 fas fa-map-marker"></i>CORTENO GOLGI, BS</div>
            <div class="race-title">Sentiero 4 luglio Sky Marathon</div>
            <div class="race-card-info">Skyrunning | 43km | 3000m d+</div>
          </div>
        </div>
     </div>
   </div>
</div>
